/* 
Înlocuiți simbolurile ? cu valori potrivite pentru 
a completa regulile CSS de mai jos.
*/

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.robot {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "eyes" "mouth";
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #a6b4c4;
  background-image: radial-gradient(#a6b4c4,#59798e);
}

.robot_eyes {
  grid-area: eyes;
  width: 400px;
  height: 150px;
  border: 3px solid black;
  border-radius: 200px;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  /* justify-content: ?;
  align-items: ?; */
}

.robot_socket {
  width: 375px;
  height: 125px;
  border: 3px solid black;
  border-radius: 200px;
  background: black;
  overflow: hidden;
  display: grid;
  /* justify-content: ?; */
  justify-content: center;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-areas: ". eye1 eye2 .";
}

.robot_eye:first-child {
  grid-area: eye1;
}

.robot_eye:last-child {
  grid-area: eye2;
}

.robot_eye {
  height: 145px;
  width: 145px;
  background-color: #fefbb8;
  border-radius: 100%;
  margin: -10px 10px 0 10px;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  /* justify-content: ?; */
}
.robot_pupil {
  width: 20px;
  height: 20px;
  background-color: black;
}

.robot_mouth {
  grid-area: mouth;
  margin: auto;
  width: 279px;
  height: 100px;
  background-color: black;
  margin-top: 80px;
  border-radius: 50px;
  border: 4px solid black;
  position: relative;
  display: grid;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  grid-template: 1fr 1fr / repeat(8, 1fr);
}

.robot_tooth {
  height: 46px;
  width: 30px;
  background-color: #fefbb8;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.robot_tooth:nth-child(4) {
  position: relative;
  right: 2px;
}

.robot_tooth:nth-child(5) {
  position: relative;
  left: 2px;
}

.robot_tooth:nth-child(9) {
  position: relative;
  left: 1px;
}

.robot_tooth:nth-child(16) {
  position: relative;
  right: 2px;
}
