body {
  background-color: black;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.crop {
  width: 400px;
  height: 300px;
  overflow: hidden;
  /* clip-path: circle(50%); */
}

.crop img {
  margin: 0;
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

#time span {
  color: red;
}

#time {
  position: absolute;
  top: 1em;
  left: 1em;
  display: flex;
  flex-direction: column;
}